<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        body{
            background-color: blanchedalmond;
            color: teal;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to GitPub</h1>

</nav>
<ul>
    <% for(let i = 0; i < allDrinks.length; i++){ %>

        <li>
            <a href="/drinks/<%= i %>">
                <%= allDrinks[i].name %>
            </a>
            
        </li>

    <% } %>
</ul>
</body>
</html>