<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        body{
            background-color: maroon;
            color: gold;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to GitPub</h1>
</body>
</html>