<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        body{
            background-color: blanchedalmond;
            color: teal;
          padding-left: 550px;
        }
        a{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        li{
            list-style-type: kannada;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to GitPub Kitchen</h1>

</nav>
<ul>
    <% for(let i = 0; i < allFoods.length; i++){ %>

        <li>
            <a href="/food/<%= i %>">
                <%= allFood[i].name %>
            </a>
            
        </li>

    <% } %>
</ul>
<a href="/drinks/">Thirsty?</a> 
</body>
</html>